---

# must be provided
project: cliffg-example

# if not provided, empty
summary: A project to test cliff-generator

# if not provided, empty
author: SerenaFeng

# if not provided, empty
author-email: serena.feng.711@gmail.com

# if not provided, leverage https://github.com/{author}/{project}
home-page: https://github.com/SerenaFeng/cliffg-example

# if not provide, substitute - with _ in {project}
#package: cliffg_example

# if not provide, leverage {project} directly
#cli: cliffg-example

subs:
  sub1: [create, show, list, delete]
  sub2: [create, update, show]
